<html>
  <body bgcolor="	#008b8b">
    <form method="POST" action="">
      <center>
        <h1>Sign up :Enter your details</h1>
        <br />
        User name <input type="text" name="fname" /> <br />
        Password <input type="text" name="lname" /> <br />
        <input type="submit" />
      </center>
    </form>
    <footer>
      <center>
        <a href="{{url_for('login')}}">Sign in</a>
        <a href="{{url_for('register')}}">Register again</a>
      </center>
    </footer>
  </body>
</html>
